html {
  height: 100%; }

body {
  height: 100%;
  margin: 0; }

.flex-map-container {
  display: flex;
  background-image: url("../assets/mocks/mock_map.png");
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  width: 100%; }

.trips-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  height: 50%;
  background: green;
  opacity: 0.75; }
  .trips-container h1 {
    font-family: 'Lobster', cursive;
    color: yellow;
    opacity: 1;
    padding-right: 1rem; }

.places-container {
  width: 50%;
  height: 50%;
  background: blue;
  color: white; }
